In [43]:
import pandas as pd

df = pd.read_csv(r'D:\Downloads\Arabic_names_8700.csv')
df

        name gender
0     ابتسام   أنثى
1     ابتهاج   أنثى
2     ابتهال   أنثى
3     اجتهاد   أنثى
4     ازدهار   أنثى
...      ...    ...
8709  باسانت   أنثى
8710  الرجال    ذكر
8711     يحي    ذكر
8712  حسانين    ذكر
8713     عصر   أنثى

[8714 rows x 2 columns]

In [44]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8714 entries, 0 to 8713
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    8713 non-null   object
 1   gender  8714 non-null   object
dtypes: object(2)
memory usage: 136.3+ KB

In [45]:
df.describe()

        name gender
count   8713   8714
unique  7061      2
top      سيد    ذكر
freq       6   6497

In [46]:
df = df.drop_duplicates()
df

         name gender
0      ابتسام   أنثى
1      ابتهاج   أنثى
2      ابتهال   أنثى
3      اجتهاد   أنثى
4      ازدهار   أنثى
...       ...    ...
8705    العسل    ذكر
8707  أبوزهرة    ذكر
8709   باسانت   أنثى
8710   الرجال    ذكر
8713      عصر   أنثى

[7235 rows x 2 columns]

In [49]:
def predict_gender(name):
    #name = name.strip()    
    matching_rows = df[df['name'] == name]

    if not matching_rows.empty:
        # If there are matching rows, return sex from the first matching row
        return matching_rows.iloc[0]['gender']
    else:
        # If the name is not found in the dataset, return 'Unknown'
        return 'Unknown'

In [57]:
name_to_predict = input('اكتب الاسم: ')
predicted_gender = predict_gender(name_to_predict)
print("الاسم:", name_to_predict, "،النوع:", predicted_gender)

الاسم: محمد ،النوع: ذكر